{% extends "base.html" %}

{% block head %} 

{% endblock %}



{% block main %}


{% if links is undefined %}

    <form action="/graphs" method="POST">
        
        <select name="forecast_dates">
          {% for date in forecast_dates %}
              <option value="{{ date }}">{{ date }}</option>
          {% endfor %}
        </select>

        <button class="btn btn-primary" type="submit" name="graphics_button" value="graphics_button">Show me the Graphics!</button>
        
        
        
    </form>


    <button class="btn btn-primary" type="submit" name="update_button" value = "update_button">Update the dates!</button>


{% else %}

    {% for url in links %}
        <img src="{{ url }}"/>
    {% endfor %}

{% endif %}


{% endblock %}